examples/purchase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/purchase"
           xmlns:tns="http://example.com/purchase"
           elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation xml:lang="en">
      Purchase Order schema.
      Describes a purchase transaction where a Customer buys products at a Shop.
    </xs:documentation>
    <xs:documentation xml:lang="ru">
      Схема заказа на покупку.
      Описывает транзакцию покупки, в которой Покупатель приобретает товары в Магазине.
    </xs:documentation>
  </xs:annotation>

  <!-- ===== Root element ===== -->

  <xs:element name="Purchase" type="tns:PurchaseType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        A completed purchase transaction linking a customer,
        a shop, and the purchased items.
      </xs:documentation>
      <xs:documentation xml:lang="ru">
        Завершённая транзакция покупки, связывающая покупателя,
        магазин и приобретённые товары.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="PurchaseType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Represents a single purchase event with all related details.
      </xs:documentation>
      <xs:documentation xml:lang="ru">
        Представляет одно событие покупки со всеми связанными деталями.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PurchaseId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unique identifier of the purchase.</xs:documentation>
          <xs:documentation xml:lang="ru">Уникальный идентификатор покупки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PurchaseDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date and time when the purchase was made.</xs:documentation>
          <xs:documentation xml:lang="ru">Дата и время совершения покупки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customer" type="tns:CustomerType"/>
      <xs:element name="Shop" type="tns:ShopType"/>
      <xs:element name="Items">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Item" type="tns:ItemType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation xml:lang="en">A product included in this purchase.</xs:documentation>
                <xs:documentation xml:lang="ru">Товар, включённый в эту покупку.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalAmount" type="xs:decimal">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total cost of all items in the purchase.</xs:documentation>
          <xs:documentation xml:lang="ru">Общая стоимость всех товаров в покупке.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="currency" type="tns:CurrencyCode" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">Currency used for all monetary values.</xs:documentation>
        <xs:documentation xml:lang="ru">Валюта для всех денежных значений.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- ===== Customer ===== -->

  <xs:element name="Customer" type="tns:CustomerType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The buyer who made the purchase.</xs:documentation>
      <xs:documentation xml:lang="ru">Покупатель, совершивший покупку.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="CustomerType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about the customer.</xs:documentation>
      <xs:documentation xml:lang="ru">Информация о покупателе.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomerId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unique customer identifier.</xs:documentation>
          <xs:documentation xml:lang="ru">Уникальный идентификатор покупателя.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Full name of the customer.</xs:documentation>
          <xs:documentation xml:lang="ru">Полное имя покупателя.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contact email address (optional).</xs:documentation>
          <xs:documentation xml:lang="ru">Контактный адрес электронной почты (необязательно).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ===== Shop ===== -->

  <xs:element name="Shop" type="tns:ShopType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The retail location where the purchase was made.</xs:documentation>
      <xs:documentation xml:lang="ru">Торговая точка, в которой была совершена покупка.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ShopType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about the shop.</xs:documentation>
      <xs:documentation xml:lang="ru">Информация о магазине.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ShopId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unique shop identifier.</xs:documentation>
          <xs:documentation xml:lang="ru">Уникальный идентификатор магазина.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShopName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Display name of the shop.</xs:documentation>
          <xs:documentation xml:lang="ru">Отображаемое название магазина.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Physical address of the shop.</xs:documentation>
          <xs:documentation xml:lang="ru">Физический адрес магазина.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ===== Item ===== -->

  <xs:complexType name="ItemType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A single line item in the purchase.</xs:documentation>
      <xs:documentation xml:lang="ru">Одна позиция в покупке.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the purchased product.</xs:documentation>
          <xs:documentation xml:lang="ru">Название приобретённого товара.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Price" type="xs:decimal">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unit price of the product.</xs:documentation>
          <xs:documentation xml:lang="ru">Цена за единицу товара.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="xs:positiveInteger">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units purchased.</xs:documentation>
          <xs:documentation xml:lang="ru">Количество приобретённых единиц.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ===== Simple types ===== -->

  <xs:simpleType name="CurrencyCode">
    <xs:annotation>
      <xs:documentation xml:lang="en">ISO 4217 currency code.</xs:documentation>
      <xs:documentation xml:lang="ru">Код валюты по ISO 4217.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="GBP"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
